@model RotoSports.Models.Lineup

@{
    ViewBag.Title = "Add Player";
}

<h2>Select which position to Add/Replace</h2>

<div class="alert alert-info" role="alert">
    <p style="font-size:2em;">@ViewBag.DisplayPlayer</p>
</div>
<p></p>
<div class="alert alert-warning" role="alert">
    <p style="font-size:1.3em;">@ViewBag.Details1</p>
    @ViewBag.Details2
</div>
<table class="table table-hover">

    <tr>
        @foreach (var title in ViewBag.Titles)
        {
            <th>
                @title
            </th>
        }
        <th></th>
    </tr>
    @for (int i = 0; i < @ViewBag.Total; i++)
    {
        string[] currentplayer = ViewBag.AllPlayers[i];
        string wholePlayer = "";
        foreach (string item in currentplayer)
        {
            wholePlayer += item + "~";
        }
        <tr onclick="location.href = '@(Url.Action("AddPlayer", "Lineups", new { id = Model.ID, playerinput = ViewBag.NewPLayer, position = i }))'">
            @foreach (string detail in currentplayer)
            {
                <td>
                    @detail
                </td>
            }
        </tr>
    }

</table>