@model RotoSports.Models.Lineup

@{
    ViewBag.Title = "NBA Lineup";
}

<h2>NBA Editor</h2>

@using (Html.BeginForm("NBAEditor", "Lineups", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lineup</h4>
        <hr />
        @Html.HiddenFor(model => model.ID)

        <table class="table">

            <tr>
                @foreach (var title in ViewBag.Titles)
                {
                    <th>
                        @title
                    </th>
                }
                <th></th>
            </tr>
            @for (int i = 0; i < @ViewBag.Total; i++)
            {
                string[] currentplayer = @ViewBag.AllPlayers[i];
                <tr>
                    @foreach (string detail in currentplayer)
                    {
                        if(detail == ""  || detail == " " || detail == null)
                        {
                            <td>-empty-</td>
                        }
                        else
                        {
                            <td>
                                @detail
                            </td>
                        }
                    }

                    <td>
                        @Html.ActionLink("More Stats", "Details", "Lineups", new { id = currentplayer[1] }) |
                        @Html.ActionLink("Add", "Delete", "Lineups", new { id = currentplayer[1] }) |
                        @Html.ActionLink("Star", "Delete", "Lineups", new { id = currentplayer[1] })
                    </td>
                </tr>
            }

        </table>

        <h4>Starred Players</h4>
        @foreach(string player in ViewBag.StarPlayers)
        {
            <p>@player</p>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<table class="hidden">
    <tr>
        <td><input type="text" id="spotPG" name="spotPG" style="width: 325px" value="@ViewBag.Position1" /></td>
        <td><input type="text" id="spotSG" name="spotSG" style="width: 325px" value="@ViewBag.Position2" /></td>
        <td><input type="text" id="spotSF" name="spotSF" style="width: 325px" value="@ViewBag.Position3" /></td>
        <td><input type="text" id="spotPF" name="spotPF" style="width: 325px" value="@ViewBag.Position4" /></td>
        <td><input type="text" id="spotC" name="spotC" style="width: 325px" value="@ViewBag.Position5" /></td>
        <td><input type="text" id="spotG" name="spotG" style="width: 325px" value="@ViewBag.Position6" /></td>
        <td><input type="text" id="spotF" name="spotF" style="width: 325px" value="@ViewBag.Position7" /></td>
        <td><input type="text" id="spotUTIL" name="spotUTIL" style="width: 325px" value="@ViewBag.Position8" /></td>
    </tr>
</table>
