@model RotoSports.Models.CSVFiles

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title) File</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<table class="table">

    <tr>
        @foreach (var title in ViewBag.Titles)
        {
            <th>
                @title
            </th>
        }
        <th></th>
    </tr>
    @for (int i = 0; i < @ViewBag.Total - 2; i++)
    {
        string[] currentplayer = ViewBag.AllPlayers[i];
        string wholePlayer = "";
        foreach (string item in currentplayer)
        {
            wholePlayer += item + "~";
        }
        <tr>
            @foreach(string detail in currentplayer)
            {
            <td>
                @detail
            </td>
            }

            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var item in ViewBag.UserLineups)
                        {
                            string lineupname = item.Value;
                            <li>@Html.ActionLink(lineupname, "AddPlayer", "Lineups", new { lineupid = item.Key, player = wholePlayer }, null)</li>
                        }
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Create New Lineup", "Create", "Lineups", new { id = Model.ID }, null)</li>
                    </ul>
                </div>
                <a href="~/Lineups/MoreStats/@wholePlayer" class="btn btn-info">More Stats</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Star <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var item in ViewBag.UserLineups)
                        {
                            string lineupname = item.Value;
                            <li>@Html.ActionLink(lineupname, "Star", "Lineups", new { lineupid = item.Key, player = wholePlayer, fileId = Model.ID }, null)</li>
                        }
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Create New Lineup", "Create", "Lineups", new { id = Model.ID }, null)</li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>

<!--<a href="/Lineups/Star?item.Key$wholePlayer">item.Value</a>-->