@model IEnumerable<RotoSports.Models.CSVFiles>

@{
    ViewBag.Title = "Index";
}

<h2>All My Files</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Sports")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th class="hidden"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
